<div class="hero">
    <img src="images/vehicles/delorean.jpg" alt="Delorean Car">
    <h1>Welcome to CSE Motors!</h1>
    <%- messages() %>
    <div id="main-float-card">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button class="action">Own Today</button>
    </div>                
</div>
<!-- Another way to break this up would be to put the h3 in their own div and make them a child of the grid-column -->
<section class="grid-column">
    <div class="child">
        <!-- <div> -->
            <h3>Delorian Upgrades</h3>
            <div class="grid">
                <div class="card">
                    <div>
                        <img src="images/upgrades/flux-cap.png" alt ="Flux Capacitor">
                    </div>
                    <a href="/">Flux Capacitor</a>
                </div>
                <div class="card">
                    <div>
                        <img src="images/upgrades/flame.jpg" alt ="Flame Decals">
                    </div>
                    <a href="/">Flame Decals</a>
                </div>
                <div class="card">
                    <div>
                        <img src="images/upgrades/bumper_sticker.jpg" alt ="Bumper Stickers">
                    </div>
                    <a href="/">Bumper Stickers</a>
                </div>
                <div class="card">
                    <div>
                        <img src="images/upgrades/hub-cap.jpg" alt ="Hub Caps">
                    </div>
                    <a href="/">Hub Caps</a>
                </div>
            </div>
        <!-- </div> -->
    </div>
    <div class="child reviews">
        <h3>DMC Delorian Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</section>


