<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>

  <div class="form-container border">
    
    <form id="addVehicleForm" method="post" action="/inventory/add-vehicle" class="form">
      <div class="required">*All fields are required</div>
      <label for="classification_id" class="top"></label>
        //Util.buildClassificationList here 


      <label for="classification_name" class="top"
        >Classification Name
        
        <input
          type="text"
          name="classification_name"
          id="classification_name"
          required
          placeholder="Enter a new vehicle type"
          value="<%= locals.classification_name %>"
        />
      </label>

      <input type="submit" value="Add Classification" class="submitBtn" />
      
    </form>
  </div>
  